body {
    box-sizing: border-box;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(35, 36, 36);
    color: white;
}

h1 {
    font-family: 'Gochi Hand', cursive;
    font-size: 4rem;
}

#playingfield {
    width: 700px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#score-board {
    width: 200px;
    margin-right: 20px;
    color: black;
}

table {
    margin: 20px;
    border-collapse: collapse;
    border: 2px solid black;
    text-align: left;
}
  
th, td {
   border: 1px solid black;
   background-color: rgb(248, 251, 252);
   padding: 0 10px;
}

th {
    padding: 5px;
}

.score {
    background-color:  rgb(248, 251, 252);
    font-family: 'Gochi Hand', cursive;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.possibility {
    background-color: rgb(206, 204, 204);
    font-family: 'Gochi Hand', cursive;
    font-size: 1.5rem;
    cursor: pointer;
}

.dropbox {
    border: 2px solid rgb(235, 74, 74);
}

#container1 {
    /* margin: 0 auto; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 100px;
    background-color: grey;
    border-radius: 5px;
    margin-bottom: 20px;
}

#container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 100px;
    background-color: grey;
    border-radius: 5px;
    margin-bottom: 20px;
}

.die {
    width: 40px;
    height: 40px;
    margin: 5px;
    color: white;
    background-size: cover;
    cursor: grab;
}

.rolldie {
    animation-name: rolldice;
    animation-duration: 1s;
}

@keyframes rolldice {
    100% {transform: rotate(360deg)}
}

button {
    width: 150px;
    height: 40px;
    margin: 2px;
    background-color: rgb(235, 74, 74);
    color: white;
    border-radius: 5px;
}